<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse minus eveniet numquam odit excepturi nam dolore. Nihil non velit facere culpa reiciendis eaque? Ea provident itaque accusamus et eos deserunt?</p>
<a href="/about">Go to about page</a>